@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "utils.css";
@import "animations.css";


:root {
    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-md: .9rem;
    --text-lg: 1rem;
    --text-xl: 1.15rem;
    --text-xxl: 1.75rem;
    --text-3xl: 2rem;
    --text-4xl: 2.25rem;

    --popover-bg: #FFF;
    --popover-bg-hover: #ececec;
    --popover-foreground: #000;
    --popover-shadow: 0 4px 6px #0000001a, 0 2px 4px #0000000f;
    --border-color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

input,
textarea {
    outline: transparent;
    font-family: 'Roboto';

}

textarea {
    width: 100%;
    padding: 0.25rem;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Open Sans", serif;
    background-color: #e9e9e9;
}

.app-container {
    max-width: 1200px;
    margin-inline: auto;
}

.pos-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pos-header .search-box {
    width: 24rem;
    height: 2.5rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    background-color: #FFF;
}

.search-box__input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: .875rem;
}

.search-box_icon svg {
    height: 1.25rem;
    width: 1.25rem;
}

.pos-header .menu-button {
    background-color: #FFF;
    border-radius: 1.5rem;
    /* padding: 1rem; */
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-items-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
}

.pos-item-card {
    height: 12rem;
    border: 1px solid;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #FFF;
}

.pos-item-card .item-card__image {
    height: 8rem;
}

.pos-item-card .item-card__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.item-card__title {
    height: 1.25rem;
    overflow: hidden;
}

.pos-summary {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
}

.pos-home-page {
    gap: 1rem;
    display: flex;
}


.pos-grid__wrapper {
    flex: auto;
}

.pos-summary {
    flex-shrink: 0;
    width: 18rem;
}

.btn {
    width: 100%;
    border: none;
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: .875rem;
}

.qty-input {
    display: flex;
    width: 7rem;
    gap: .5rem;
    align-items: center;
    border: 1px solid lightgrey;
    padding: .25rem .5rem;
    border-radius: 1.5rem;
}

.qty-input input {
    width: 2rem;
    text-align: center;
    border: none;
    height: 100%;
    padding: .25rem;
    font-size: .875rem;
    box-shadow: 0 0 2px #545454;
}

.qty-input button {
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px #6c6c6c;
    cursor: pointer;
}

.qty-input button svg {
    height: 1rem;
    width: 1rem;
}


.dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog-overlay[data-state="open"] {
    animation: fade-in 0.3s ease-in-out;
}

.dialog-overlay[data-state="closed"] {
    animation: fade-out 0.3s ease-in-out;
}


.dialog-content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: 40rem;
    transform: translate(-50%, -50%);
    gap: 1rem;
    /* border: 1px solid var(--border-color); */
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition-duration: 200ms;
    border-radius: 0.5rem;
    background-color: var(--popover-bg);
}

.dialog-content[data-state="open"] {
    animation: fade-in 0.3s ease-in-out, zoom-in 0.3s ease-in-out, slide-in-from-left 0.3s ease-in-out, slide-in-from-top 0.3s ease-in-out;
}

.dialog-content[data-state="closed"] {
    animation: fade-out 0.3s ease-in-out, zoom-out 0.3s ease-in-out, slide-out-to-left 0.3s ease-in-out, slide-out-to-top 0.3s ease-in-out;
}