@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: #000000;
        --primary-foreground: #000000;

        --sidebar-width-icon: 3rem;
        --sidebar-width: 12rem;
    }

    html {
        @apply font-poppins;
    }
}

.btn {
    @apply rounded-md bg-blue-400 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2;
}